<p>
  <a href="https://carpentries-lab.github.io/metagenomics-workshop/">The Metagenomics Workshop Incubator Carpentry</a>
  is essientially a branch of experimental Data Carpentry the aims to 
  teach researchers basic concepts, skills, and tools for working with 
  data so they can get more done quickly and with less pain. 
\</p>
<ul>  
  This workshop uses Data Carpentry’s approach to teach data management and 
  analysis for metagenomics research, including: best practices for the 
  organization of bioinformatics projects and data, use of command-line 
  utilities, use of command-line tools to analyze sequence quality, 
  use of R studio and use of R libraries to compare diversity between 
  samples, and connecting to and using cloud computing. This workshop 
  is designed to be taught over two full days of instruction.
  
</ul>
