<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before Starting</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a></td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://carpentries-lab.github.io/metagenomics-organization/">Project Organization and Management</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Install software, if you have not already</td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://carpentries-lab.github.io/metagenomics-shell/">Introduction to the Command Line for Metagenomics</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://carpentries-lab.github.io/metagenomics-shell/">Introduction to the Command Line for Metagenomics</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td><a href="https://carpentries-lab.github.io/metagenomics-R/">Introduction to R</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Crash course in docker</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://carpentries-lab.github.io/metagenomics-analysis/">Data Processing and Visualization for Metagenomics: lessons 1-6</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://carpentries-lab.github.io/metagenomics-analysis/">Data Processing and Visualization for Metagenomics: lessons 7-10</a></td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
